<ion-view>
  <ion-content has-tabs="true" class="padding has-tabs-top" ng-class="{'empty' : noInterviews }">
    <div class="row text-center" ng-if="!noInterviews">
      <div class="col col-100">
        <h5>{{current_candidate.pipelineStatus}}</h5>
      </div>
    </div>
    <div ng-if="noInterviews" class='full-screen-div'>
      <div class="center-screen"><b>Without attending any round, the candidate got closed.</b>
      </div>
    </div>
    <ion-list inset>
      <!--TODO: Replace with collection repeat after making css changes-->
      <div ng-repeat="interviewType in interviewSet">
        <ion-item class="item interview-container">
          <div class="row" ui-sref="interview-details({interview_id: interviewType.id})" disable-ui-sref="canNotSeeFeedback(interviewType)" ng-class="canNotSeeFeedback(interviewType) && 'pointer-events-disabled'">
            <p class="col col-30">{{interviewType.name}}</p>
            <p class="col col-40">{{interviewType.start_time | date: 'dd/MM/yyyy h:mma'}}</p>
            <div class="interview-schedule-icons col col-30">
              <button class="button ion-thumbsdown modify-interview color-red" ng-if="(isLoggedinUserRecruiter || isPanelistForAnyInterviewRound) && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Pass')"></button>
              <button class="button ion-thumbsup modify-interview" ng-if="(isLoggedinUserRecruiter || isPanelistForAnyInterviewRound) && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Pursue')"></button>
              <button class="ion-thumbsup modify-interview" ng-if="(isLoggedinUserRecruiter || isPanelistForAnyInterviewRound) && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Strong Pursue')"></button>
              <button class="ion-thumbsup modify-interview" ng-if="(isLoggedinUserRecruiter || isPanelistForAnyInterviewRound) && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Strong Pursue')"></button>
              <button class="button ion-edit modify-interview" ng-show="isLoggedinUserRecruiter && !isNotScheduled(interviewType) && !isFeedbackGiven(interviewType.status) && isPipelineNotClosed()" ng-click="dateTime(interviewType, $event, updateInterview)"></button>
              <button class="button ion-social-skype-outline modify-interview pointer-events-enabled" ng-show="isLoggedinUserRecruiter && isNextSchedulableRound(interviewType) && isPreviousRoundPursueOrStrongPursue(interviewType)" ng-click="showSlots($index, interviewType)"></button>
              <button class="button ion-plus modify-interview pointer-events-enabled" ng-show="isLoggedinUserRecruiter && isNextSchedulableRound(interviewType) && !isFeedbackGiven(interviewType.status)" ng-click="dateTime(interviewType, $event, createInterview)"></button>
            </div>
          </div>
          <div ng-show="interviewType.displaySlots">
            <div class="row">
              <label class="input-label col col-20">Slots</label>
              <select class="col col-80" name="selectedSlotId" id="selectedSlotId" ng-model="selectedSlot.id" ng-options="slot.id as slot.start_time for slot in slots" ng-change="show()">
              </select>
            </div>
            <button class="button button-positive button-full no-margin" ng-click="convertSlotsToInterview()">Save
            </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <div class="padding-bottom" ng-if="isLoggedinUserRecruiter && isPipelineNotClosed()">
      <button class="button button-positive button-full no-margin" ng-click="closePipelineWithConfirmation()">Close Pipeline</button>
    </div>
  </ion-content>
</ion-view>
