<ion-view view-title="{{title}}">

  <div class="tabs-striped tabs-top tabs-background-stable tabs-color-positive">
    <div class="tabs">
      <a class="tab-item" ui-sref=".profile({candidate_id: candidateId, role_id: roleId, id: id, title: title, sub_title: sub_title})"
         ng-class="{'tab-item-active': isActive('candidate-tabs.profile')}">{{sub_title}}</a>
      <a class="tab-item" ui-sref=".interviews({candidate_id: candidateId, role_id: roleId, id: id})"
         ng-if="!isSlot" ng-class="{'tab-item-active': isActive('candidate-tabs.interviews')}">Interviews</a>
    </div>
  </div>
  <ui-view></ui-view>
</ion-view>
