<ion-view title="Interview Details">
	<ion-content>
    <div class="list padding">
      <div class="list-item candidateDetails">
        <div class="row">
            <div class="col col-50">
              <h5>Candidate</h5>
            </div>
            <div class="col col-50">
              <h5>MI RD</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
              <h5>Work Experience</h5>
            </div>
            <div class="col col-50">
              <h5>4+ Years</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
              <h5>Date</h5>
            </div>
            <div class="col col-50">
              <h5>12-02-2016</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
              <h5>Time</h5>
            </div>
            <div class="col col-50">
              <h5>2:30pm - 4:30pm</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
              <h5>Panel</h5>
            </div>
            <div class="col col-50">
              <h5>Dinesh, Maha</h5>
            </div>
        </div>
        <form name="feedackForm">
          <div class="row">
            <div class="col"><h4>Feedback</h4></div>
          </div>
          <div class="row customRadio">
            <label for="pass"><input type="radio" name="feedback" />Pass</label>
            <label for="pursue"><input type="radio" name="feedback" />Pursue</label>
            <label for="strongPursue"><input type="radio" name="feedback" />Strong Pursue</label>
          </div>
					<a href="#" class="button button-calm imgUploadBtn"></a>
					<button class="button button-block button-positive">Submit</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
