<div class="pane">
  <ion-content ng-controller="candidateInterviewsController">
    <div class="row">
      <div class="col col-50">
        <h5>Pipeline Status</h5>
      </div>
      <div class="col col-50">
        <h5>{{current_candidate.pipelineStatus}}</h5>
      </div>
    </div>

    <ion-list inset>
      <div ng-repeat="interviewType in interviewSet">
        <ion-item class="item interview-container" ui-sref="interview-details({id: interviewType.id})" disable-ui-sref="!((isLoggedinUserRecruiter || isPanelistForAnyInterviewRound) && !isNotScheduled(interviewType))">
            <div class="row">
              <p class="col col-30">{{interviewType.name}}</p>
              <p class="col col-50">{{interviewType.start_time | date: 'dd/MM/yyyy h:mma'}}</p>
              <p class="ion-thumbsdown col col-10 modify-interview color-red" ng-if="isLoggedinUserRecruiter && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Pass')"></p>
              <p class="ion-thumbsup col col-10 modify-interview" ng-if="isLoggedinUserRecruiter && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Pursue')"></p>
              <p class="ion-thumbsup col col-10 modify-interview" ng-if="isLoggedinUserRecruiter && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Strong Pursue')"></p>
              <p class="ion-thumbsup col col-10 modify-interview" ng-if="isLoggedinUserRecruiter && isFeedbackGiven(interviewType.status) && compareStatus(interviewType.status, 'Strong Pursue')"></p>
              <button class="button ion-edit col col-10 modify-interview" ng-show="isLoggedinUserRecruiter && !isNotScheduled(interviewType) && !isFeedbackGiven(interviewType.status)" ng-click="dateTime($index, $event, updateInterview)"></button>
              <button class="button ion-plus col col-10 modify-interview" ng-show="isLoggedinUserRecruiter && isNextSchedulableRound(interviewType) && !isFeedbackGiven(interviewType.status)" ng-click="dateTime($index, $event, createInterview)"></button>
            </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-positive"  ng-if = "isLoggedinUserRecruiter && isPipelineInProgress()">
    <button class="button button-full" ng-click="closePipeline()">Close Pipeline</button>
  </div>
</div>
