<ion-view>
  <ion-content class="padding has-tabs-top" delegate-handle="ptr-candidates" ng-class="{'empty' : noCandidates }">
    <ion-refresher on-refresh="refreshCandidates(1)">
    </ion-refresher>
    <div ng-if="noCandidates" class='full-screen-div'>
      <div class="center-screen"><b>Currently there are no candidates yet! Please create new candidates.</b>
      </div>
    </div>
    <ion-list class="candidatePanelList">
      <ion-item collection-repeat="candidate in all_candidates">
        <div class="item item-divider candidateInfo" collection-item-width="'100%'" collection-item-height="item.height"
             ng-style="{height:item.height+'px'}" ui-sref="candidate-tabs.profile({candidate_id: candidate.id, role_id: candidate.role_id})">
          <div class="row">
            <div class="col col-50">
              <strong>{{candidate.name | limitTo: 10}}</strong>
              <h5> ({{candidate.experience}} Yrs) </h5>
            </div>
            <div class="col col-25">
              <h4>{{candidate.role}}</h4>
            </div>
            <div class="col col-25">
              <h4>{{candidate.pipelineStatus}}</h4>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMoreCandidates()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
