<ion-view view-title="Add Slots">
  <ion-content ng-controller="createSlotsController">
    <form name="slotForm" id="slotForm" class="slotForm" novalidate>
      <div class="list">
        <div class="item item-input item-select" ng-class="{ 'has-error' : slotForm.role.$invalid && !slotForm.role.$pristine }">
          <label class="input-label">Role</label>
          <select name="role" ng-options="role.id as role.name for role in roles" ng-model="slot.role_id" required class="new-block"></select>
        </div>
        <div class="item item-input item-select" ng-class="{ 'has-error' : slotForm.round.$invalid && !slotForm.round.$pristin }">
          <label class="input-label">Round</label>
          <select name="round" ng-options="round.id as round.name for round in interviewRounds" ng-model="slot.interview_type_id" required class="new-block"></select>
        </div>
        <div class="item item-input" ng-click="dateTime()">
          <label class="input-label">Start time</label>
          <div class="new-block">{{slot.start_time | date: 'dd/MM/yyyy h:mma'}}</div>
        </div>
        <div class="item item-input" ng-class="{ 'has-error' : slotForm.count.$invalid && !slotForm.count.$pristine }">
        <label class="input-label">Number of Slots</label>
        <div class="new-block">
          <input type="number" name="count" ng-model="slot.count" min="1" max="10" ng-pattern="/^[0-9]$/" required />
          <p class="error" ng-show="slotForm.count.$error.required">Is required</p>
          <p class="error" ng-show="slotForm.count.$error.min">should be more than zero</p>
          <p class="error" ng-show="slotForm.count.$error.pattern">invalid number</p>
          <p class="error" ng-show="slotForm.count.$error.max && !slotForm.count.$pristine">Count should not more than 10</p>
        </div>
      </div>
      <div class="padding-bottom">
        <button class="button button-positive button-full" ng-disabled="isFormInvalid()" ng-click="saveSlot()">Save</button>
    </div>
    </form>
  </ion-content>
</ion-view>
