<ion-view>
	<ion-nav-title>Feedback - {{ interview.interview_type.name }}</ion-nav-title>
	<ion-content>
		<div ng-controller="interviewDetailsController">
			<div class="list padding">
				<div class="list-item candidateDetails">
					<div class="row">
						<div class="col col-50">
							<h5>Candidate</h5>
						</div>
						<div class="col col-50">
							<h5>{{interview.candidate.name}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<h5>Role</h5>
						</div>
						<div class="col col-50">
							<h5>{{interview.candidate.role.name}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<h5>Work Experience</h5>
						</div>
						<div class="col col-50">
							<h5>{{interview.candidate.experience}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<h5>Date</h5>
						</div>
						<div class="col col-50">
							<h5 ng-bind="interview.start_time | date:'dd/MM/yyyy'"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<h5>Time</h5>
						</div>
						<div class="col col-50">
							<h5 ng-bind="(interview.start_time | date:'h:mma') + (' - ') + (endTime(interview.start_time) | date: 'h:mma')"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<h5>Panel</h5>
						</div>
						<div class="col col-50">
							<h5>{{interview.formattedPanelists}}</h5>
						</div>
					</div>
					<form name="feedackForm">
						<div class="row">
							<div class="col">
								<h5><strong>Feedback</strong></h5></div>
							</div>
							<!--TODO: Need to implement this in a cleaner way using mutually exclusive radio buttons -->
						<div class="button-bar feedBack">
							 <a name = "feedback" ng-class = "(feedBackResult === 'Pass' && 'button-positive')" class="button button-block button-small button-stable" ng-disabled = "canNotEnterFeedBack()" ng-click = "extractFeedback('Pass')"><h6>Pass</h6></a>
							 <a name = "feedback" ng-class = "(feedBackResult === 'Pursue' && 'button-positive')" class="button button-block button-small button-stable" ng-disabled = "canNotEnterFeedBack()" ng-click = "extractFeedback('Pursue')"><h6>Pursue</h6></a>
							 <a name = "feedback" ng-class = "(feedBackResult === 'Strong Pursue' && 'button-positive')" class="button button-block button-small button-stable" ng-disabled = "canNotEnterFeedBack()" ng-click = "extractFeedback('Strong Pursue')"><h6>Strong Pursue</h6></a>
						</div>

						<div class="row">
							<div class="col col-50" ng-repeat="feedbackImage in feedbackImages track by $index">
								<label>{{feedbackImage.label}}</label>
								<div class="feedback-image" ng-style="{'background-image': 'url(' + feedbackImage.URI + ')'}" ng-click="feedbackImage.previewDisabled || previewImage({{$index}})" ng-disabled="feedbackImage.previewDisabled">
								</div>
								<div class="text-center">
										<button class="button icon ion-camera" ng-hide="canNotEnterFeedBack()"  ng-click="getPhoto({{$index}})"></button>
								</div>
							</div>
						</div>
						<button class="button button-full button-positive" ng-click="saveFeedback()">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
