<ion-view hide-nav-bar="true" ng-controller="panelistSignupController">
  <ion-header-bar class="bar-positive cust-header fixedTop">
    <h1 class="title">Hi {{loggedinUserName}}!</h1>
    <div class="buttons">
      <a class="button icon ion-plus-round bgTransparent" href="#/candidates/new" ng-if="isLoggedinUserRecruiter"></a>
      <a class="button icon ion-log-out bgTransparent" ng-click="logout()"></a>
    </div>
  </ion-header-bar>

  <ion-tabs class="panelist-tab tabs-striped tabs-positive tabs-top">
    <ion-tab title="Interviews">
      <ion-nav-view>
        <ion-content class="ic-blk" delegate-handle="ptr-interviews" ng-class="{'empty' : noItems }" >
          <ion-refresher on-refresh="refreshInterviews()">
          </ion-refresher>
          <div ng-if="noItems" class='full-screen-div'>
            <div class="center-screen"><b>Currently there are no interviews   scheduled yet! Please pull to refresh!</b>
            </div>
          </div>
          <ion-list class="candidatePanelList">
            <ion-item collection-repeat="item in items">
              <div class="item item-divider candidateInfo" collection-item-width="'100%'" collection-item-height="item.height" ng-style="{height:item.height+'px'}">
                <div class="row">
                  <div class="col col-50" ng-if="isInPipeline(item.candidate)">
                    <a ui-sref="candidate-profile({id: item.candidate.id})"><strong>{{item.candidate.name | limitTo: 10}}</strong></a>
                    <h5> ({{item.candidate.experience | number: 1}} Yrs) </h5>
                  </div>
                  <div class="col col-50" ng-if="!isInPipeline(item.candidate)">
                    <span><strong>{{item.candidate.name | limitTo: 10}}</strong></span>
                    <h5> ({{item.candidate.experience | number: 1}} Yrs) </h5>
                  </div>
                  <div class="col col-30">
                    <h3><strong ng-bind = "item.start_time | date:'dd/MM/yyyy'"></strong></h3>
                  </div>
                  <div class="col col-20 inherit_display">
                    <h3><strong ng-bind = "item.start_time | date:'h:mma'"></strong></h3>
                  </div>
                </div>
                <div class="row pad-box">
                  <div ng-if="!isLoggedinUserRecruiter"class="col col-30">
                    <h4><strong>{{item.interview_type.name}}: </strong>{{item.candidate.all_skills}}</h4>
                  </div>
                  <div ng-if="isLoggedinUserRecruiter"class="col col-30">
                    <h4><strong>Round: {{item.interview_type.name}}</strong></h4>
                  </div>
                  <div class="col col-70">
                    <div class="pull-right">
                      <h4 ng-if="isLoggedinUserRecruiter">{{item.formattedPanelists}}</h4>
                      <button ng-hide="isLoggedinUserRecruiter" class="button button-small button-positive" ng-disabled="!item.signup || !isInPipeline(item.candidate)" ng-click="signingUp(item)">Signup</button>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="My Interviews" ng-if="!isLoggedinUserRecruiter">
      <ion-nav-view>
        <ion-content ng-class="{'empty' : noMyInterviews }">
          <ion-refresher on-refresh="refreshMyInterviews()">
          </ion-refresher>
          <div ng-if="noMyInterviews" class='full-screen-div'>
            <div class="center-screen"><b>Currently there are no signups here! Please sign up.</b>
            </div>
          </div>
          <ion-list class="candidatePanelList">
            <ion-item collection-repeat="myinterview in myinterviews">
              <div class="item item-divider candidateInfo" collection-item-width="'100%'" collection-item-height="item.height" ng-style="{height:item.height+'px'}">
                <div class="row">
                  <div class="col col-50" ng-if="isInPipeline(myinterview.candidate)">
                    <a ui-sref="candidate-profile({id: myinterview.candidate.id})"><strong>{{myinterview.candidate.name | limitTo: 10}}</strong></a>
                    <h5> ({{myinterview.candidate.experience}} Yrs) </h5>
                  </div>
                  <div class="col col-50" ng-if="!isInPipeline(myinterview.candidate)">
                    <span><strong>{{myinterview.candidate.name | limitTo: 10}}</strong></span>
                    <h5> ({{myinterview.candidate.experience}} Yrs) </h5>
                  </div>
                  <div class="col col-30">
                    <h3><strong ng-bind = "myinterview.start_time | date:'dd/MM/yyyy'"></strong></h3>
                  </div>
                  <div class="col col-20 inherit_display">
                    <h3><strong ng-bind = "myinterview.start_time | date:'h:mma'"></strong></h3>
                  </div>
                </div>
                <div class="row pad-box">
                  <div class="col col-30">
                    <h4><strong>Round: {{myinterview.interview_type.name}}</strong></h4>
                  </div>
                  <div class="col col-70">
                    <div class="pull-right">
                      <button class="button button-small button-positive" ui-sref="interview-details({id:myinterview.id})" ng-disabled="!isInPipeline(myinterview.candidate)">FeedBack</button>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Candidates" ng-if="isLoggedinUserRecruiter">
      <ion-nav-view>
        <ion-content delegate-handle="ptr-candidates" ng-class="{'empty' : noCandidates }">
          <ion-refresher on-refresh="refreshCandidates(1)">
          </ion-refresher>
          <div ng-if="noCandidates" class='full-screen-div'>
            <div class="center-screen"><b>Currently there are no candidates yet! Please create new candidates.</b>
            </div>
          </div>
          <ion-list class="candidatePanelList">
            <ion-item collection-repeat="candidate in all_candidates">
              <div class="item item-divider candidateInfo" collection-item-width="'100%'" collection-item-height="item.height"  ng-style="{height:item.height+'px'}">
                <div class="row">
                  <div class="col col-50">
                    <a ui-sref="candidate-profile({id:candidate.id})"><strong>{{candidate.name | limitTo: 10}}</strong></a>
                    <h5> ({{candidate.experience}} Yrs) </h5>
                  </div>
                  <div class="col col-25">
                    <h4>{{candidate.role}}</h4>
                  </div>
                  <div class="col col-25">
                    <h4>{{candidate.pipelineStatus}}</h4>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
          on-infinite="loadMoreCandidates()"
          distance="1%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
