<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-positive cust-header fixed-top">
      <h1 class="title">Hi {{loggedinUserName}}!!!</h1>
      <a class="button icon ion-plus-round" href="#/candidates/new"></a>
  </ion-header-bar>

    <ion-tabs class="cust-tab tabs-striped tabs-positive tabs-top">
      <ion-tab title="Interviews">
        <ion-content>
          <div>
            <ion-spinner ng-if="isRefreshing" class="cust-spinner-position"></ion-spinner>
          </div>

          <ion-refresher on-refresh="doRefresh()">
          </ion-refresher>

          <ion-list class="candidatePanelList">
              <ion-item collection-repeat="item in items">
                <div class="item item-divider candidateInfo">
                  <div class="row">
                    <div class="col col-50">
                      <a ui-sref="candidate-profile({id: item.candidate.id})"><strong>{{item.candidate.name | limitTo: 10}}</strong></a> <h5> ({{item.candidate.experience}} Yrs) </h5>
                    </div>
                    <div class="col col-30">
                      <h3><strong ng-bind = "item.start_time | date:'dd/MM/yyyy'"></strong></h3>
                    </div>
                    <div class="col col-20 inherit_display">
                      <h3><strong ng-bind = "item.start_time | date:'h:mma'"></strong></h3>
                    </div>
                  </div>
                  <div class="row pad-box">
                    <div class="col col-30">
                      <h4><strong>Skills: </strong>{{item.candidate.all_skills}}</h4>
                    </div>

                    <!-- <div class="col col-67">
                      <h3><strong>{{item.interview_type.name}}</strong></h3>
                    </div> -->
                    <div class="col col-70">
                      <div class="pull-right">
                        <i class="icon ion-checkmark calm"></i>
                        <i class="icon ion-checkmark calm"></i>
                        <button class="button button-small button-positive" ng-disabled="!item.signup" ng-click="signingUp(item)">Signup: {{item.interview_type.name}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>

        </ion-content>
      </ion-tab>

      <ion-tab title="My Interviews">
        <ion-content>
          <div>
            <ion-spinner ng-if="isRefreshing" class="cust-spinner-position"></ion-spinner>
          </div>

          <ion-refresher on-refresh="doRefresh()">
          </ion-refresher>

          <ion-list class="candidatePanelList">
              <ion-item collection-repeat="myinterview in myinterviews">
                <div class="item item-divider candidateInfo">
                  <div class="row">
                    <div class="col col-50">
                      <a ui-sref="candidate-profile({id: myinterview.candidate.id})"><strong>{{myinterview.candidate.name | limitTo: 10}}</strong></a> <h5> ({{myinterview.candidate.experience}} Yrs) </h5>
                    </div>
                    <div class="col col-30">
                      <h3><strong ng-bind = "myinterview.start_time | date:'dd/MM/yyyy'"></strong></h3>
                    </div>
                    <div class="col col-20 inherit_display">
                      <h3><strong ng-bind = "myinterview.start_time | date:'h:mma'"></strong></h3>
                    </div>
                  </div>
                  <div class="row pad-box">
                    <div class="col col-30">
                      <h4><strong>Skills: </strong>{{myinterview.candidate.all_skills}}</h4>
                    </div>
                    <div class="col col-70">
                      <div class="pull-right">
                        <i class="icon ion-checkmark calm"></i>
                        <i class="icon ion-checkmark calm"></i>
                        <a class="button button-small button-positive" ui-sref = "interview-details({id:myinterview.id})" >Details: {{myinterview.interview_type.name}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>

        </ion-content>
      </ion-tab>
    </ion-tabs>
</ion-view>
