<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-positive cust-header fixed-top">
      <h1 class="title">RecruitX</h1>
      <a class="button icon ion-plus-round" href="#/candidates/new"></a>
  </ion-header-bar>

    <ion-tabs class="cust-tab tabs-striped tabs-positive tabs-top">
      <ion-tab title="Interviews">
        <ion-content>
          <div>
            <ion-spinner ng-if="isRefreshing" class="cust-spinner-position"></ion-spinner>
          </div>

          <ion-refresher on-refresh="doRefresh()">
          </ion-refresher>

          <ion-list class="candidatePanelList">
              <ion-item collection-repeat="item in items">
                <div class="item item-divider candidateInfo">
                  <div class="row">
                    <div class="col col-50">
                      <a ui-sref="candidate-profile({candidate_id: item.candidate.id})"><strong>{{item.candidate.name}}</strong></a>
                      <i class="icon ion-checkmark calm"></i>
                      <i class="icon ion-checkmark calm"></i>
                      <h4>{{item.candidate.experience}} Years</h4>
                    </div>
                    <div class="col col-30">
                      <h3><strong ng-bind = "item.candidate_interview_date_time | date:'dd/MM/yyyy'"></strong></h3>
                    </div>
                    <div class="col col-20 inherit_display">
                      <h3><strong ng-bind = "item.candidate_interview_date_time | date:'h:mma'"></strong></h3>
                    </div>
                  </div>
                  <div class="row pad-box">
                    <div class="col">
                      <h4><strong>Skills: </strong>{{item.candidate.skills}}</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-67">
                      <h3><strong>{{item.interview_type.name}}</strong></h3>
                    </div>
                    <div class="col col-33">
                      <div class="pull-right">
                        <button class="button button-small button-positive" ng-click="signingUp(item)">Signup</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>

        </ion-content>
      </ion-tab>

      <ion-tab title="My Interviews">
        <div class="pane tab-content tab-content-padding">
          <div class="list">
            <div class="item item-divider candidateInfo">
              <div class="row">
                <div class="col col-50">
                  <h2>Maha</h2>
                  <h4>4+ Years</h4>
                </div>
                <div class="col col-30">
                  <h3>22-10-2015</h3>
                </div>
                <div class="col col-20">
                  <h3>2:30pm</h3>
                </div>
              </div>
              <div class="row pad-box">
                <div class="col">
                  <h4><strong>Skills: </strong>HTML5, CSS3, JavaScript</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="pull-right">
                    <a href="#/candidate-details" class="button button-calm">Details</a>
                    <a href="#/signup-decline" class="button button-assertive">Decline</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-divider candidateInfo">
              <div class="row">
                <div class="col col-50">
                  <h2>Subha</h2>
                  <h4>4+ Years</h4>
                </div>
                <div class="col col-30">
                  <h3>22-10-2015</h3>
                </div>
                <div class="col col-20">
                  <h3>2:30pm</h3>
                </div>
              </div>
              <div class="row pad-box">
                <div class="col">
                  <h4><strong>Skills: </strong>HTML5, CSS3, JavaScript</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="pull-right">
                    <a href="#/candidate-details" class="button button-calm">Details</a>
                    <a href="#/signup-decline" class="button button-assertive">Decline</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-tab>
    </ion-tabs>
</ion-view>
