<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic/js/angular/angular.min.js"></script>
  <!--<script src="cordova.js"></script>-->
  <script src="js/app.js"></script>
  <script src="js/create-candidate-profile-controller.js"></script>
</head>

<body ng-app="starter">
<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Create Candidate</h1>
  </ion-header-bar>


  <ion-content>
    <div ng-controller="createCandidateProfileController">
      <form name="candidateForm" novalidate>
        <div class="item item-input"
             ng-class="{ 'has-error' : candidateForm.name.$invalid && !candidateForm.name.$pristine }">
          <label class="input-label">Name</label>
          <div class="new-block">
            <input type="text" name="name" ng-model="candidate.name" placeholder="Name"
                   required>

            <p ng-show="candidateForm.name.$invalid && !candidateForm.name.$pristine">Candidate name is required.</p>
          </div>
        </div>

        <div class="item item-input item-select"
             ng-class="{ 'has-error' : candidateForm.role.$invalid && !candidateForm.role.$pristine }">
          <label class="input-label">Role</label>
          <select name="role" ng-model="candidate.role" required>
            <option value="" disabled selected>Select a role</option>
            <option value="dev">Dev</option>
            <option value="qa">QA</option>
            <option value="ba">BA</option>
          </select>
        </div>
        <div class="item item-input"
             ng-class="{ 'has-error' : candidateForm.experience.$invalid && !candidateForm.experience.$pristine }">
          <span class="input-label">Experience</span>
          <div class="new-block"><input type="number" name="experience" ng-model="candidate.experience" min="1"
                                        placeholder="Experience" required>
            <p ng-show="candidateForm.experience.$error.min">Candidate Experience should be greater than or equal to
              1</p>
            <p ng-show="candidateForm.experience.$error.required && !candidateForm.experience.$pristine">
              Candidate Experience is required</p>
          </div>
        </div>

        <div class="item item-input"
             ng-class="{ 'has-error' : candidateForm.skillSet.$invalid && !candidateForm.skillSet.$pristine }">
          <span class="input-label">Skills</span>
          <div class="new-block ">
            <ion-list name="skillSet">
              <ion-checkbox name="skill" ng-model="candidate.java">Java</ion-checkbox>
              <ion-checkbox name="skill" ng-model="candidate.csharp">C#</ion-checkbox>
              <ion-checkbox name="skill" ng-model="candidate.ruby">Ruby</ion-checkbox>
              <ion-checkbox name="skill" ng-model="candidate.python">Python</ion-checkbox>
            </ion-list>
            <p ng-show="candidateForm.skillSet.$error.required && !candidateForm.skillSet.$pristine">Atleast one
              skill is required</p></div>
        </div>
        <div class="item item-input">
          <label class="input-label">Additional Information</label>
          <textarea placeholder="Additional Information"></textarea>
        </div>
        <button class="button button-full icon-right ion-chevron-right button-positive"
                ng-disabled="validate()" ng-click="redirectToScheduleInterviewPage()">Next
        </button>
      </form>
    </div>
  </ion-content>
</ion-pane>

</body>
</html>
