body, .ionic-body { position: absolute;}
.col-30 { width: 30%; }
.text-center {
	text-align: center;
}
.item-checkbox {
  border: none;
}
.item-checkbox .checkbox {
  left: 0;
}
.checkbox {
  padding-left: 0;
}
.item-select select {
  direction: ltr;
  text-align: left;
  width: 100%;
}
.bar {
  padding: 0;
}
.new-block {
  display: block;
  width: 65%;
  padding-left: 7px;
}
textarea { resize: none; min-height: 80px; }

/* */
.view-container { top: 0; left: 0; }
/* .overflow-scroll > .scroll { position: relative; } */
.tab-content.tab-content-padding { padding: 48px 0 0; }
.tab-content-padding .row { padding: 0; }
.pull-right { float: right; }
.tab-content-padding .padBox { padding-bottom: 10px; }

.cust-tab { position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
.cust-tab .overflow-scroll { overflow-y: scroll; }
.cust-tab .tab-title { font-size: 16px; }
.cust-tab .tab-item { max-width: initial; }
.cust-tab.tabs-top > .tabs { top: 0; }

.candidateInfo {
	padding-left: 8px;
	padding-right: 8px;
}
.candidateInfo h4 {
	color: #6f6f6f;
	padding-top: 4px;
}
.candidateInfo .col-20 {
	padding-left: 0;
	padding-right: 0;
}
.nav-bar-tabs-top.hide ~ .view-container .cust-tab .tabs { top: 0; }
