.text-center {
	text-align: center;
}
.item-checkbox {
  border: none;
}
.item-checkbox .checkbox {
  left: 0px;
}
.checkbox {
  padding-left: 0px;
}
.item-select select {
  direction: ltr;
  text-align: left;
  width: 100%;
}
.bar {
  padding: 0px
}
.new-block {
  display: block;
  width: 65%;
  padding-left: 7px;
}
textarea { resize: none; min-height: 80px; }
