html { position: relative;}
body, .ionic-body {
  position: absolute;
}

.platform-ios, .platform-ios body { overflow-y: visible;}

/* Helper Classes */
.padding-bottom {
  padding-bottom: 3px;
}
.no-margin, .button.no-margin {
  margin: 0;
}
.col-30 {
  width: 30%;
}
.button {
  min-height: 40px;
  line-height: 36px;
}
.text-center {
  text-align: center;
}
.item .error, .error {
  color: #C71E1E;
  display: block;
  white-space: normal;
}
textarea {
  resize: none;
  min-height: 80px;
}
.pull-right {
  float: right;
}
.bgTransparent, .bar-positive .bgTransparent { background-color: transparent; }

/* Ionic Overrides */
.nav-bar-tabs-top .bar { border-bottom: 2px solid #fff; }
.empty .scroll { height: 100%; }
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
  fill-opacity: 0.0;
}

/* Form Elements */

.item-checkbox {
  border: none;
}
.item-checkbox .checkbox {
  left: 0;
}
.checkbox {
  padding-left: 0;
}
.item-select select {
  direction: ltr;
  text-align: left;
  width: 100%;
}
.pane[hide-nav-bar="true"] .fixedTop {
  top: 0;
  border-bottom: 2px solid #fff;
}
.new-block {
  display: block;
  width: 65%;
  padding-left: 7px;
}
.view-container {
  top: 0;
  left: 0;
}
.tab-content.tab-content-padding {
  padding: 48px 0 0;
}
.tab-content-padding .row {
  padding: 0;
}
.tab-content-padding .pad-box {
  padding-bottom: 10px;
}

.cust-tab, .platform-android .panelist-tab {
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 0;
  right: 0;
}
/* .platform-ios .cust-tab { top: 65px; bottom: auto; height: 100%; } */
.cust-tab .overflow-scroll, .panelist-tab .overflow-scroll {
  overflow-y: scroll;
}
.cust-tab .tab-title, .candidate-tab .tab-title, .panelist-tab .tab-title {
  font-size: 16px;
}
.cust-tab.tabs-top > .tabs, .platform-android .panelist-tab.tabs-top > .tabs {
  top: 0;
}
.nav-bar-tabs-top.hide ~ .view-container .cust-tab .tabs, .platform-android .nav-bar-tabs-top.hide ~ .view-container .panelist-tab .tabs {
  top: 0;
}
.candidateDetails .item-radio input:checked+.radio-content .radio-icon {
  display: none;
}
.candidateDetails .item-radio .item-content {
  padding: 10px 18%;
}
.popup-title {
  font-weight: bold;
}
.popup-body {
  text-align: center;
}
.backBtn .button.button-clear {
  padding: 0 8px;
}
/* .candidateForm { padding-bottom: 45px; } */
.button.fixedBottom { position: absolute; bottom: -2px; left: 0; width: 100%; z-index: 9999; }
.button.fixedBottom { margin-bottom: 0; }
.custom-button{
    margin: 0px !important;
    display: inline-block;
    min-width: 49.5%;
    padding: 0px !important;
}
.outer-custom-button{
    min-width: 100%;
}
.candidateForm .list .item.item-input:last-child { border-bottom: none; }
.newCandidateBlk { margin-bottom: -5px;}

/* Candidate Info - Panelist Signup Page*/

.candidateInfo h4 {
  color: #6f6f6f;
  padding-top: 4px;
}
.candidateInfo .col-20 {
  padding-left: 0;
  padding-right: 0;
}
.candidateInfo .icon {
  font-size: 18px;
}

/* Candidate Details */

.candidateDetails h5 {
  margin: 3px 0;
}
.candidateDetails .customRadio {
  display: table;
}
.customRadio label {
  border: 1px solid #dbdbdb;
  border-left: none;
  color: #333;
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
  padding: 6px 12px;
  text-align: center;
}
.customRadio label:first-child {
  border-left: 1px solid #dbdbdb;
}
.candidateDetails .customRadio input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.imgUploadBtn {
  background-size: 100% auto;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  height: 64px;
  position: relative;
  width: 64px;
}
.imgUploadBtn:after {
  content: '';
  display: block;
  width: 76%;
  height: 76%;
  background: url('../img/image_upload_icon.png') center center no-repeat;
  ;
  -webkit-background-size: 100% auto;
  -ms-background-size: 100% auto;
  position: absolute;
  top: 12%;
  left: 12%;
}
.cust-spinner-position {
  text-align: center;
  display: block;
  padding: 10px
}
.inherit_display {
  display: inherit;
}
.disable-user-behavior {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select:text;
  -webkit-touch-callout: default;
  touch-callout: default;
}
.candidatePanelList .item {
  padding: 6px;
  border: none;
}
.candidatePanelList .candidateInfo {
  padding: 0 3px;
  border: 1px solid #ddd;
}
.candidateInfo h4 {
  padding: 0;
  text-overflow: initial;
  word-wrap: break-word;
  white-space: normal;
}
.item h5 {
  display: inline-block;
  font-style: italic
}
.pull-right .button {
  vertical-align: middle;
}
.candidateInfo a {
  color: #387ef5;
  text-decoration: underline;
}
.feedBack .button.button-stable {
  border-color: black;
  padding: 0 8px;
}
.feedback-image {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.item-select select option:focus {
 background: #dbdbdb;
 color: #000;
}
.item-select select option:active {
 background: #387ef5;
 color: #fff;
}
.bar .title+.buttons { top: 3px; bottom: 2px; }
.interview-container .item-content {
  padding-right: 1px;
  padding-left: 7px;
}
.modify-interview {
  background: transparent;
}
.input-label em{
  font-size: 13px;
  font-style: italic;
}
.interviewDetails .item { padding: 12px 16px; }
.interviewDetails .item h5 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.interviewDetails .row, .interviewDetails .col { padding: 0; }
.interviewDetails .col + .col h5 { font-weight: normal; }
.interviewDetails .item h5 {
  word-wrap: break-word;
  white-space: normal;
}
.full-screen-div {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center-screen b{
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  color: grey;
}​
#okta-sign-in .auth-footer .js-help-link { display: none;}
.auth-content .help-links li:last-child { display: none; }

/* .pane[hide-nav-bar=true] .has-tabs-top.ic-blk { bottom: auto; top: 0; -webkit-overflow-scrolling: touch; } */

#candidateForm a.button-full.icon-right:before {
  margin-top: 0;
}

.bar-footer {
  bottom: 8%;
}

.tab-item {
  text-decoration: none !important;
  max-width: initial;
}

.scroll-view {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup-body {
   color: black;
}

button.custom-icon:before {
    font-size: 22px !important;
    margin-bottom: 50px !important;
}

.interview-schedule-icons{
  padding: 0;
  margin: 0;
}

.pointer-events-disabled{
  pointer-events:none;
}

.button-pseudo-disabled{
  opacity: .4;
}

/* About page */

.about-center {
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.app-name {
    text-align:center;
    margin-bottom: 10px;
    font-size: 40px;
}

.app-version {
    text-align:center;
    margin-bottom: 10px;
}

.update-button{
    text-align:center;
    margin: 0 auto 0 auto;
}
